<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/styles.css">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

            <title>Job Finder</title>
        </head>
        <header>
            <nav class="blue-grey darken-2">
                <div class="nav-wrapper container ">
                    <a href="#!" class="brand-logo"><i class="material-icons right">support_agent</i>JOB FINDER</a>
                  <ul class="right hide-on-med-and-down">
                    <li><a href="/admin/categorias"><i class="material-icons right">keyboard_return</i>Voltar para categorias</a></li>
                  </ul>
                </div>
            </nav>
        </header>
    </html>