<footer class="blue-grey darken-4" style="position: fixed; bottom: 0; left: 0; width: 100%;">
    <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Job Finder</h5>
            <p class="grey-text text-lighten-4">Desenvolvido por Enio Oliveira</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Siga nas redes sociais</h5>
            <a href="">Instagram</a><br>
            <a href="">Facebook</a><br>
            <a href="">Linkedin</a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2021 Todos os direitos reservados
        </div>
      </div>
</footer>